# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~
build
src/au_uav_ros/courses/
src/au_uav_ros/evaluator/
src/au_uav_ros/scores/
